@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		min-height: 100dvh;
	}

	:focus:not(:focus-visible) {
		outline: none;
	}

	.wrapper {
		display: grid;
		grid-template-columns:
			1fr
			min(90ch, 100%)
			1fr;
	}

	.wrapper > * {
		grid-column: 2;
		@apply px-8 sm:px-16;
	}

	.full-bleed {
		width: 100%;
		grid-column: 1 / 4;
		@apply px-0;
	}

	.main-bg-color {
		@apply bg-gradient-to-r from-primary-100 via-primary-50 to-primary-100 bg-fixed;
	}

	body {
		font-family: 'Plus Jakarta Sans Variable', sans-serif;
		@apply main-bg-color text-primary-900;

		overflow-y: scroll;
		scrollbar-gutter: stable both-edges;
	}

	body::-webkit-scrollbar {
		width: 0.75em;
		@apply bg-primary-100;
	}

	body::-webkit-scrollbar-thumb {
		@apply bg-primary-700;
		@apply rounded-full outline outline-primary-800;
	}

	@font-face {
		font-family: 'Redaction Bold';
		font-style: normal;
		font-weight: 700;
		src: url('/fonts/Redaction-Bold.woff2') format('woff2');
		unicode-range: U+0000, U+000D, U+0020-003B, U+003D, U+003F-007E, U+00A0-00A3, U+00A5,
			U+00A7-00A9, U+00AB, U+00AE-00B0, U+00B2-00B4, U+00B6-00B9, U+00BB-00F6, U+00F8-0148,
			U+014A-017E, U+0218-021B, U+0237, U+02C6-02C7, U+02D8-02DD, U+0326, U+1E80-1E85, U+1EF2-1EF3,
			U+2002-2003, U+2009-200B, U+2013-2014, U+2018-2022, U+2026, U+2039-203A, U+2044, U+20AC,
			U+2122, U+2157, U+2212, U+E413, U+E785, U+FB01-FB02;
		font-display: fallback;
	}
	@font-face {
		font-family: 'Redaction Regular';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/Redaction-Regular.woff2') format('woff2');
		unicode-range: U+0000, U+000D, U+0020-003B, U+003D, U+003F-007E, U+00A0-00A3, U+00A5,
			U+00A7-00A9, U+00AB, U+00AE-00B0, U+00B2-00B4, U+00B6-00B9, U+00BB-00F6, U+00F8-0148,
			U+014A-017E, U+0218-021B, U+0237, U+02C6-02C7, U+02D8-02DD, U+0326, U+1E80-1E85, U+1EF2-1EF3,
			U+2002-2003, U+2009-200B, U+2013-2014, U+2018-2022, U+2026, U+2039-203A, U+2044, U+20AC,
			U+2122, U+2157, U+2212, U+E413, U+E785, U+FB01-FB02;
		font-display: fallback;
	}

	.fancy-serif-bold {
		font-family: 'Redaction Bold', sans-serif;
	}
	.fancy-serif-regular {
		font-family: 'Redaction Regular', sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	caption,
	figcaption {
		text-wrap: balance;
	}

	.full-bleed h2 span {
		@apply main-bg-color px-3 text-3xl font-semibold leading-6 text-primary-850 sm:px-6 sm:text-5xl lg:px-8;
	}

	li {
		--underline-width: 6px;
	}

	li > div > a {
		text-decoration: none;
		text-decoration: none;
		background-image: linear-gradient(theme(colors.primary.800), theme(colors.primary.800)),
			linear-gradient(theme(colors.primary.400/0.7), theme(colors.primary.400/0.7)),
			linear-gradient(theme(colors.secondary.500/0.7), theme(colors.secondary.500/0.7));
		background-size:
			20px var(--underline-width),
			100% var(--underline-width),
			0 var(--underline-width);
		background-position:
			calc(20px * -1) 100%,
			100% 100%,
			0 100%;
		background-repeat: no-repeat;
		transition:
			background-size 500ms linear,
			background-position 500ms linear;
		text-decoration-skip-ink: none;
		@apply focus-visible:rounded-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-secondary-500;
	}

	li > div > a:hover {
		background-size:
			20px var(--underline-width),
			0% var(--underline-width),
			100% var(--underline-width);
		background-position:
			calc(100% + 20px) 100%,
			100% 100%,
			0 100%;
	}

	.projects a:has(svg),
	footer a:has(svg) {
		@apply p-1;
		@apply transition-all duration-300 ease-in-out;
		@apply hover:rounded-full hover:bg-tertiary-700 hover:text-tertiary-100;
		@apply focus-visible:rounded-full focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-tertiary-600;
	}

	.projects > :nth-child(odd) .project-column-spacing {
		@apply lg:pr-8;
	}

	.projects > :nth-child(even) .project-column-spacing {
		@apply lg:ml-auto lg:pl-4;
	}

	/* .projects > :nth-child(odd) .project-image {
		nothing
	} */

	.projects > :nth-child(even) .project-image {
		@apply flex items-start justify-end lg:order-first;
	}

	.projects h3 {
		@apply text-2xl font-bold text-primary-900 sm:text-3xl lg:text-4xl;
	}

	.projects dl svg {
		@apply absolute left-1 top-1 h-6 w-6 text-secondary-700;
	}

	.projects dl > div {
		@apply relative pl-10;
	}

	.tag-colors {
		@apply bg-secondary-200 text-tertiary-900 transition duration-300 ease-in-out hover:bg-secondary-600 hover:text-secondary-100 focus-visible:outline-secondary-600;
	}
}

blockquote.twitter-tweet {
	display: inline-block;
	font-family: 'Helvetica Neue', Roboto, 'Segoe UI', Calibri, sans-serif;
	font-size: 1rem;
	font-weight: bold;
	line-height: 16px;
	border-color: #eee #ddd #bbb;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	margin: 10px 5px;
	padding: 16px;
	max-width: 468px;
	background-color: #fff;
}

blockquote.twitter-tweet p {
	margin-top: 0.75rem;
	font-size: 1rem;
	font-weight: normal;
	line-height: 20px;
}

blockquote.twitter-tweet a {
	color: inherit;
	font-weight: normal;
	text-decoration: none;
	outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
	text-decoration: underline;
}

@layer components {
	.prose pre {
		overflow-wrap: break-word;
		min-width: 100%;
		width: 0;
		overflow: auto;
	}

	code,
	.prose code {
		font-family: 'Source Code Pro Variable', 'Nimbus Mono PS', 'Courier New', monospace;
	}

	.prose ul {
		@apply marker:text-tertiary-600;
	}

	@media (prefers-reduced-motion) {
		::view-transition-group(*),
		::view-transition-old(*),
		::view-transition-new(*) {
			animation: none;
		}
	}
}
